#fields-container {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

#fields-container label {
    text-align: left;
    font-weight: 500;
}

.styled-input {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    width: 100%;    
}

.remove-button {
    background-color: darkred;
    color: white;
}

.result-div {
    background-color: yellow;
    color: black;
    padding: 25px;
    border-radius: 25px;
}

.result-good {
    background-color: greenyellow;
}

.result-bad {
    background-color: red;
}

button {
    border: 2px solid white;
}